* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #74EBD5;
    background-image: linear-gradient(299deg, #74EBD5 0%, #9FACE6 100%);
}

nav ul {
    list-style: none;
    display: flex;
    padding: 30px;
}

.encomenda {
    text-shadow: 0 0 3px #72bbb8, 0 0 5px #ffffff;
    margin-top: 5px;
}

a img {
    height: 35px;
    width: 35px;
    margin-left: 20px;
}

h1 {
    font-family: 'Emilys Candy', cursive;
    font-size: 70px;
    text-align: center;
    margin-top: 50px;
}    

h4 {
    text-align: center;
    margin-bottom: 50px;
}

.quadrado {
    display: inline-block;
}


div img {
    height: 300px;
    width: 300px;
    margin: 15px;
    margin-right: 30px;
    margin-top: 50px;
    border: 2px solid rgb(255, 255, 255);
    box-shadow: 0 0 1em rgb(207, 248, 241);
}

.center {
    text-align: center;
}

main h2 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}

main div {
    display: inline-block;
}

.lista1 {
    margin-left: 2px;
    border: 2px solid #000000;
    border-radius: 5%;
    background-color: #ffffff;
    padding: 10px;
    box-shadow: 0 0 1em rgb(207, 248, 241);
}

.lista2 {
    margin-left: 50px;
    border: 2px solid #000000;
    border-radius: 5%;
    background-color: #ffffff;
    padding: 10px;
    box-shadow: 0 0 1em rgb(207, 248, 241);
}

main {
    margin-bottom: 50px;
    text-align: center;
}

main li {
    list-style: none;
    text-align: left;
    margin-top: 10px;
    margin-left: 8px;
    margin-right: 8px;
}

